<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="email" value="{Your encrypted amazon email}" />
  <add key="pass" value="{Your encrypted amazon pass}" />
  <add key="cc_name" value="{Your name as on the credit card}" />
  <add key="ccu_number" value="{cc1 number 1}" />
  <add key="ccu_expires" value="{cc1 expiration}" />
  <add key="nb_number" value="{cc2 number 1}" />
  <add key="nb_expires" value="{cc2 expiration}" />
  <add key="log4net.Internal.Debug" value="true" />
</appSettings>